body {
    margin-top: 80px;
}

.center {
    text-align: center;
}

.github-link {
    margin-right: 10px !important;
}

.lights .on {
    transition: opacity 500ms;
}

.transparent {
    opacity: 0.5;
}

.solid {
    opacity: 1;
}

/* bootstrap already defines invisible */
.almost-invisible {
    opacity: 0;
}

.zone {
    transition: opacity 1s;
}

.zone stop {
    transition: stop-color 1s;
}

.zone.C20 stop,
.zone.C19 stop,
.zone.C18 stop,
.zone.C17 stop,
.zone.C16 stop,
.zone.C15 stop {
    stop-color: #0013E9 !important;
}

.zone.C21 stop,
.zone.C22 stop,
.zone.C23 stop,
.zone.C24 stop,
.zone.C25 stop {
    stop-color: #E91300 !important;
}

.zone.C20 {
    opacity: 0;
}

.zone.C19, .zone.C21 {
    opacity: 0.1;
}

.zone.C18, .zone.C22 {
    opacity: 0.2;
}

.zone.C17, .zone.C23 {
    opacity: 0.3;
}

.zone.C16, .zone.C24 {
    opacity: 0.4;
}

.zone.C15, .zone.C25 {
    opacity: 0.5;
}