body {
    margin-top: 80px;
}

.lights .on {
    transition: opacity 500ms;
}

.transparent {
    opacity: 0.5;
}

.solid {
    opacity: 1;
}

/* bootstrap already defines invisible */
.almost-invisible {
    opacity: 0;
}