<html ng-app="index">

<head>
	<link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="dist/index.css" />
</head>

<body>
	<div ng-include="'partials/nav.html'"></div>

	<div class="container" ng-controller="AutomationCtrl">
        <div class="col-sm-6 center">
            <label for="westWingTemperature">West Wing Temperature</label>
            <select id="westWingTemperature" ng-model="zones['west-wing'].temperature" ng-change="persistZone('west-wing')" ng-options="temp.value as temp.label for temp in temperatures"></select>
        </div>

        <div class="col-sm-6 center">
            <label for="eastWingTemperature">East Wing Temperature</label>
            <select id="eastWingTemperature" ng-model="zones['east-wing'].temperature" ng-change="persistZone('east-wing')" ng-options="temp.value as temp.label for temp in temperatures"></select>
        </div>

        <div class="house" ng-include="'images/house.svg'"></div>
	</div>

	<script src="dist/vendor.js"></script>
	<script src="dist/index.js"></script>
</body>

</html>